<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:fragment="header" lang="en">
<head>
    <title>Жасмін</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<header style="background: blue;">
    <div class="wrapper">
        <a href="/"><img src="/img/logo.png" width="30" height="30" class="logo" alt="" title=""/></a>
        <a href="/" class="hamburger"></a>
        <nav>
            <ul>
                <li sec:authorize="hasAuthority('CUSTOMER')"><a href="/customer/personal-account">Виконані замовлення</a></li>
                <li sec:authorize="hasAuthority('CUSTOMER')"><a href="/customer/cart">Кошик</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/admin/add-customer">Додати клієнта</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/admin/current-orders">Поточні замовлення</a></li>
            </ul>
            <a sec:authorize="!isAuthenticated()" href="/login" class="login_btn">Логін</a>
            <a sec:authorize="isAuthenticated()" href="/logout" class="login_btn">Вихід</a>
        </nav>
    </div>
</header>

<section class="listings">
    <div class="wrapper">
        <h1 th:if="${orders.size() == 0}" class="text-center">Немає замовлень</h1>
        <h1 th:if="${orders.size() >= 1}">Всі замовлення</h1>
        <div class="table-wrapper">
            <table th:if="${orders.size() >= 1}" class="fl-table" th:each="order, iter : ${orders}">
                <tr>
                    <th>Id</th>
                    <th>Адреса</th>
                    <th>Товари</th>
                    <th>Клієнт</th>
                    <th>Загальна вартість</th>
                </tr>
                <tr>
                    <th th:text="${order.getId()}"></th>
                    <th th:text="${order.getAddress()}"></th>
                    <th>
                        <table class="fl-table">
                            <tr>
                                <th>Назва</th>
                                <th>Тип</th>
                                <th>Ціна</th>
                            </tr>
                            <tr th:each="product : ${order.getProductList()}">
                                <th th:text="${product.getName()}">Назва</th>
                                <th th:text="${product.getProductType()}">Тип</th>
                                <th th:text="${product.getPrice()}">Ціна</th>
                            </tr>
                        </table>
                    </th>
                    <th th:if="order != null && order.user != null" th:text="${order.user.fullName} + '  ' + ${order.user.phoneNumber}"></th>
                    <th th:if="totalPrice != null" th:text="${totalPrice[iter.index]}"></th>
                </tr>
            </table>
        </div>
    </div>
</section>

<footer>
    <div class="copyrights wrapper">
        © 2021
    </div>
</footer><!--  end footer  -->

</body>
</html>