<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:fragment="header" lang="en">
<head>
    <title>Жасмін</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/main_login.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<header style="background: blue;">
    <div class="wrapper">
        <a href="/"><img src="/img/logo.png" width="30" height="30" class="logo" alt="" title=""/></a>
        <a href="/" class="hamburger"></a>
        <nav>
            <ul>
                <li sec:authorize="hasAuthority('CUSTOMER')"><a href="/customer/personal-account">Виконані замовлення</a></li>
                <li sec:authorize="hasAuthority('CUSTOMER')"><a href="/customer/cart">Кошик</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/admin/add-customer">Додати клієнта</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/admin/current-orders">Поточні замовлення</a></li>
            </ul>
            <a sec:authorize="!isAuthenticated()" href="/login" class="login_btn">Логін</a>
            <a sec:authorize="isAuthenticated()" href="/logout" class="login_btn">Вихід</a>
        </nav>
    </div>
</header>

<section class="listings">
    <form class="wrapper" action="/customer/confirm" method="POST">
        <h1>Кошик</h1>
        <table th:if="${cart != null}" class="properties_list">
            <tr>
                <th>Id</th>
                <th>Адреса</th>
                <th>Товари</th>
            </tr>
            <tr>
                <th th:text="${cart.getId()}"></th>
                <th th:text="${cart.getAddress()}"></th>
                <th>
                    <table>
                        <tr>
                            <th>Фото</th>
                            <th>Назва</th>
                            <th>Тип</th>
                            <th>Опис</th>
                            <th>Ціна</th>
                        </tr>
                        <tr th:each="product : ${cart.getProductList()}">
                            <th><img th:src="${product.getImageUrl()}" /></th>
                            <th th:text="${product.getName()}">Назва</th>
                            <th th:text="${product.getProductType()}">Тип</th>
                            <th th:text="${product.getDescription()}">Опис</th>
                            <th th:text="${product.getPrice()}">Ціна</th>
                        </tr>
                    </table>
                </th>
            </tr>
        </table>
        <button type="submit" class="login100-form-btn m-t-20" th:if="${cart != null}">Оформити замовлення</button>
    </form>
</section>

<footer>
    <div class="copyrights wrapper">
        © 2021
    </div>
</footer><!--  end footer  -->

</body>
</html>