<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Жасмін</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="/css/main_login.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<section class="hero">
		<header>
			<div class="wrapper">
				<a href="#"><img src="/img/logo.png" width="30" height="30" class="logo" alt="" titl=""/></a>
				<a href="#" class="hamburger"></a>
				<nav>
					<ul>
						<li><a href="/personal-account">Акаунт</a></li>
						<li th:if="${isAdmin}"><a href="/admin">Панель адміна</a></li>
					</ul>
					<a th:if="${user == null}" href="/login" class="login_btn">Логін</a>
					<a th:if="${user != null}" href="/logout" class="login_btn">Вихід</a>
				</nav>
			</div>
		</header>

			<section class="caption">
				<h2 class="caption">Знайдіть хімічні засоби мрії</h2>
				<h3 class="properties">Мило - Шампунь - Туалетна вода</h3>
			</section>
	</section><!--  end hero section  -->

	<section class="listings">
		<div class="wrapper">
			<ul class="properties_list">
				<li th:each="product : ${products}">
					<img th:src="${product.getImageUrl()}" alt="" title="" class="property_img"/>
					<span th:text="${product.getPrice()+'грн'}" class="price"></span>
					<div class="property_details">
						<h1>
							<p th:text="${product.getName()}"></p>
							<p th:if="${product.getProductType().name().equals('UNIVERSAL')}">Універсальні</p>
							<p th:if="${product.getProductType().name().equals('FLOOR_CLEANERS')}">Для підлоги</p>
							<p th:if="${product.getProductType().name().equals('CHEMICAL_FERTILIZERS')}">Хімічні добрива</p>
						</h1>
						<h2 th:text="${product.getDescription()}"></h2>
						<button class="login100-form-btn m-t-20">Додати в кошик</button>
					</div>
				</li>
			</ul>
		</div>
	</section>	<!--  end listing section  -->

	<footer>
		<div class="copyrights wrapper">
			© 2021
		</div>
	</footer><!--  end footer  -->

</body>
</html>