<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>La Casa - Real Estate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<header style="background: blue">
    <div class="wrapper">
        <a href="/"><img src="/img/logo.png" class="logo" alt="" titl=""/></a>
        <a href="/" class="hamburger"></a>
        <nav>
            <ul>
                <li><a href="/personal-account">Account</a></li>
                <li th:if="${isAdmin}"><a href="/admin">Admin Panel</a></li>
            </ul>
            <a th:if="${user == null}" href="/login" class="login_btn">Login</a>
            <a th:if="${user != null}" href="/logout" class="login_btn">Logout</a>
        </nav>
    </div>
</header>

<section class="listings">
    <div class="wrapper">
        <h1 th:if="${orders.size() == 0}" class="text-center">Немає виконаних замовлень</h1>
        <h1 th:if="${orders.size() >= 1}">Виконані замовлення</h1>
        <table th:if="${orders.size() >= 1}" class="properties_list" th:each="order : ${orders}">
            <tr>
                <th>Id</th>
                <th>Адреса</th>
                <th>Товари</th>
            </tr>
            <tr>
                <th th:text="order.getId()"></th>
                <th th:text="order.getName()"></th>
                <th th:each="product : ${order.getProductList()}">
                    <table>
                        <tr>
                            <th>Фото</th>
                            <th>Назва</th>
                            <th>Тип</th>
                            <th>Опис</th>
                            <th>Ціна</th>
                        </tr>
                        <tr>
                            <th><img th:src="${product.getImageUrl()}" /></th>
                            <th th:text="${product.getName()}">Назва</th>
                            <th th:text="${product.getProductType()}">Тип</th>
                            <th th:text="${product.getDescription()}">Опис</th>
                            <th th:text="${product.getPrice()}">Ціна</th>
                        </tr>
                    </table>
                </th>
            </tr>
        </table>
    </div>
</section>

<footer>
    <div class="copyrights wrapper">
        © 2021
    </div>
</footer><!--  end footer  -->

</body>
</html>